.header-jaspens {
    background: url('/img/bggedung.png') no-repeat;
    background-color: #103968;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.dropdown-menu{
    background-color: #103968;
    border-color: #F2C808;
}

.dropdown-item{
    background-color: #103968;
    color: #fff;
    font-size: 14px !important;
    font-family: "Poppins", sans-serif !important;
    font-weight: 500;
}

.dropdown-item:hover{
    background-color: #F2C808;
    color: #fff;
    font-size: 14px !important;
    font-family: "Poppins", sans-serif !important;
    font-weight: 500;
}

a {
    font-weight: 600;
    font-size: 1.1rem;
}

.navbar {
    background-color: #103968;
}

.navbar-brand {
    height: 6vh;
}

.vl {
    border-left: 2px solid #103968;
    height: auto;
}

.wl-textbox {
    position: absolute;
    width: 800px;
    left: 64px;
    top: 265px;
}

.welcome-description {
    font-weight: 400;
    font-size: 17px;
    color: rgb(255, 255, 255);
    font-family: "Poppins", sans-serif;
    
}

.welcome-text {
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 78px;
    color: rgb(255, 255, 255);
    font-family: "Poppins", sans-serif;
}


.tittle-utama{
    color: #103968;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.tittle-login{
        color: #103968;
        font-family: "Poppins", sans-serif;
        font-weight: 600 !important;
}

.card {
    margin-bottom: 30px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}

.card-header, .card-footer {
    border-color: #ebeef4;
    background-color: #fff;
    color: #798eb3;
    padding: 15px;
}

.card-title {
    font-weight: 500;
    color: #012970;
    font-family: "Poppins", sans-serif;
}

.beranda{
    /* background-color: #103968; */
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    background:rgba(0, 0, 0, 0.51);
}

thead{
    background-color: #103968;
    color: #fff;
    font-family: "Poppins", sans-serif;
    text-align:center;
    border-radius: 15px;
}

tbody{
    font-family: "Poppins", sans-serif;
    font-size: 14px;
}

.text-tbody{
    text-align:center;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
}

table {
    border-collapse: collapse;
    border-radius: 1em;
    overflow: hidden;
}

.tittle-th{
    color: #103968;
}

.agenda{
    background-color: #103968;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
}

.agenda-tittle{
    color: #F2C808;
    font-size: 25px;
}

.agenda-tittle:hover{
    color: #fff;
    font-size: 25px;
    text-decoration:none
}

.form-label{
    color: #103968;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 600;
}

.form-control{
    border-color:#103968;
    border-radius: 10px;
    color: #103968;
}

.form-select{
    color: #103968;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 500;
    border-radius: 10px;
    border-color: #103968;
}

.info-CV{
    font-size: 12px;
    color: #103968;
    font-family: "Poppins", sans-serif;
}

.btn{
    color: #fff;
    background: #103968;
    font-size: 14px;
    border-radius: 15px;
    transition: 0.3;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

.btn:hover{
    color: black;
    background: #F2CC0F;
    font-size: 14px;
    border-radius: 15px;
    transition: 0.3;
    font-family: "Poppins", sans-serif;
}

.btn-warning{
    color: #103968 !important;
    background: #F2CC0F;
    font-size: 14px;
    border-radius: 15px;
    transition: 0.3;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

.btn-warning:hover{
    color: #fff !important;
    font-size: 14px;
    border-radius: 15px;
    transition: 0.3;
    font-family: "Poppins", sans-serif;
}

.search-table{
    background-color: #F0EEF6;
    border-color:#F0EEF6;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
}

/* Resposive */

@media (min-width: 768px) {
}
