.header-jaspens {
    background: url('/img/bggedung.png') no-repeat;
    background-color: #103968;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
nav .navbar-nav li a{ 
    font-weight: 600;
    font-size: 1.1rem;
}

.navbar {
    background-color: #103968;
}

.navbar-brand {
    height: 6vh;
}

.vl {
    border-left: 1px solid black;
    height: auto;
}

.welcome-description {
    font-weight: 400;
    font-size: 26px;
    color: rgb(255, 255, 255);
}

.welcome-text {
    font-style: normal;
    margin-top: 10vh;
    font-weight: 700;
    font-size: 5em;
    line-height: 78px;
    color: rgb(255, 255, 255);
    margin-bottom: 30px;
}


/* Resposive */

@media (max-width: 768px) {
    .welcome-text{
        font-size: 3em;
        line-height: normal;
        margin-top: 20vh;
        margin-bottom: 10px;
    }
    .welcome-description {
        font-size: 20px;
    }
}
